name: build

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout anocir repo
        uses: actions/checkout@v4

      - name: setup go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.5"

      - name: install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libseccomp-dev

      - name: download dependencies
        run: make install

      - name: audit code
        run: make audit

      - name: run unit tests
        run: make test

      - name: build artifacts
        run: make build

      - name: upload anocir artifact
        uses: actions/upload-artifact@master
        with:
          name: anocir
          path: tmp/bin/anocir
