name: docker-integration

on:
  workflow_run:
    workflows: [build]
    types:
      - completed

jobs:
  docker-integration:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: checkout anocir repo
        uses: actions/checkout@v4

      - name: download anocir artifact
        uses: actions/download-artifact@v4
        with:
          name: anocir
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: chmod anocir
        run: |
          chmod 755 ./anocir
          sudo mv ./anocir /usr/bin/anocir

      - name: set docker daemon
        run: |
          cat test/scripts/daemon.json | sudo tee /etc/docker/daemon.json
          sudo systemctl restart docker

      - name: run docker hello-world
        run: |
          ./test/scripts/docker-integration.sh
