name: release

on:
  push:
    tags:
      - 0.**

  workflow_dispatch:
    inputs:
      version:
        description: "Release version"
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: checkout anocir repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: setup go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.5"

      - name: install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libseccomp-dev

      - name: create release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: go run github.com/goreleaser/goreleaser/v2@latest release
